<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="all-css/style-css.css">
        <title>Todo list panda</title>
    </head>
<body class="dark-template">
    <div class="container">
        <header class="header">
            <h1 class="main-ttl">{{title}}</h1>
        </header>
<body>
    <div>
    <h1>{{headertitle}}</h1>
    <ul>

        {{taskList}}

    </ul>
    
    </div>
    <footer class="footer">
    <a href="./add-page.php" target="_blank"> <input type="button" class="add-button" value="ADD TASK" > </a>
</footer>
</body>
</html>
