

<li class="lili">
    <a href="database/action.php?action=down&id_task={{id_task}}"><img
            src="img/down.png"class="downbutton" alt"down_button></a>
            <a href="database/action.php?action=up&id_task={{id_task}}"><img src="img/up.png"class="upbutton"
            alt"up_button></a>
            <a href="database/action.php?action=done&id_task={{id_task}}">
        <img src="img/greenbutton.png"class="greenbutton"
            alt"valid_button></a>{{description}}
    <a href="modifTask.php?action=edit&id_task={{id_task}}"target="_blank"><img
            src="img/optionbutton.png" class="image2" alt="optionButton</a>
            <input class="redbutton" type="image" src="img/redbutton.png" alt="delete_button img">
</li>

    